@model IEnumerable<CoreAirPlus.ViewModel.ReservationViewModel>

@{
    ViewData["Title"] = "Reservation";
}
<!DOCTYPE html>
<html>
<head>
    <title>Guest Reservation Chart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/assets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/bootstrap-table/src/bootstrap-table.css">
    <link rel="stylesheet" href="http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <script src="~/assets/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="~/assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
    <script>
        var sortDate = function (date1, date2, row1, row2) {
            var datetime1 = new Date(date1);
            var dateTime2 = new Date(date2);
            if (datetime1 > dateTime2) {
                return -1;
            }
            return 1;
        }

        var sortCheckInTime = function (date1, date2, row1, row2) {
            var datetime1 = new Date(row1[1]);
            var datetime2 = new Date(row2[1]);
            if (datetime1 > datetime2) {
                return -1;
            }
            else if (datetime1 < datetime2) {
                return 1;
            }
            var time1 = date1;
            var time2 = date2;
            if (time1 == null || time1.trim() == "") {
                if (time2 == null || time2.trim() == "") {
                    return 1;
                }
                else {
                    return -1;
                }
            }
            else if (time2 == null || time2.trim() == "") {
                return 1;
            }
            else {
                var AM1 = time1.split(" ")[1].toString().toLowerCase();
                var AM2 = time2.split(" ")[1].toString().toLowerCase();
                if (AM1 == AM2) {
                    var hour1 = parseInt(time1.split(" ")[0].split(":")[0]);
                    var hour2 = parseInt(time2.split(" ")[0].split(":")[0]);
                    if (hour1 > hour2) {
                        if (AM1 == "am" && hour1 == "12" && hour2 > 0) {
                            return 1;
                        }
                        return -1;
                    }
                    else if (hour1 < hour2) {
                        if (AM1 == "am" && hour2 == "12" && hour1>0) {
                            return -1;
                        }
                        return 1;
                    }
                    else {
                        var minute1 = parseInt(time1.split(" ")[0].split(":")[1]);
                        var minute2 = parseInt(time2.split(" ")[0].split(":")[1]);
                        if (minute1 > minute2) {
                            return -1;
                        }
                        else {
                            return 1;
                        }

                    }
                }
                else if (AM1 == "pm") {
                    return -1;
                }
                else {
                    return 1;
                }
            }         
            return 1;
        }

        var sortCheckOutTime = function (date1, date2, row1, row2) {
            var datetime1 = new Date(row1[2]);
            var datetime2 = new Date(row2[2]);
            if (datetime1 > datetime2) {
                return -1;
            }
            else if (datetime1 < datetime2) {
                return 1;
            }
            var time1 = date1;
            var time2 = date2;
            if (time1 == null || time1.trim() == "") {
                if (time2 == null || time2.trim() == "") {
                    return 1;
                }
                else {
                    return -1;
                }
            }
            else if (time2 == null || time2.trim() == "") {
                return 1;
            }
            else {
                var AM1 = time1.split(" ")[1].toString().toLowerCase();
                var AM2 = time2.split(" ")[1].toString().toLowerCase();
                if (AM1 == AM2) {
                    var hour1 = parseInt(time1.split(" ")[0].split(":")[0]);
                    var hour2 = parseInt(time2.split(" ")[0].split(":")[0]);
                    if (hour1 > hour2) {
                        if (AM1 == "am" && hour1 == "12" && hour2 > 0) {
                            return 1;
                        }
                        return -1;
                    }
                    else if (hour1 < hour2) {
                        if (AM1 == "am" && hour2 == "12" && hour1 > 0) {
                            return -1;
                        }
                        return 1;
                    }
                    else {
                        var minute1 = parseInt(time1.split(" ")[0].split(":")[1]);
                        var minute2 = parseInt(time2.split(" ")[0].split(":")[1]);
                        if (minute1 > minute2) {
                            return -1;
                        }
                        else {
                            return 1;
                        }

                    }
                }
                else if (AM1 == "pm") {
                    return -1;
                }
                else {
                    return 1;
                }
            }
            return 1;
        }
    </script>
</head>
<body>

    <div class="container">
        <h4>Guest Reservation Chart</h4>
        <br/>
        <div class="row">
            <div>
                <table data-toggle="table"
                       data-striped="true">
                    <thead>
                        <tr>
                            <th data-sortable="true" data-width="60%">Guest Name</th>
                            <th data-sortable="true" data-sorter="sortDate">Check In</th>
                            <th data-sortable="true" data-sorter="sortDate">Check Out</th>
                            <th data-sortable="true" data-sorter="sortCheckInTime">Requested<br />Check In</th>
                            <th data-sortable="true" data-sorter="sortCheckOutTime">Requested<br />Check Out</th>
                            <th data-sortable="true">Remarks</th>
                            <th data-sortable="true" data-sorter="sortCheckOutTime">Cleaning<br />Time</th>
                            <th data-sortable="true" data-switchable="true">Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reservation in Model)
                        {
                            <tr>
                                <td>@reservation.GuestName</td>
                                <td>@reservation.CheckIn.ToShortDateString()</td>
                                <td>@reservation.CheckOut.ToShortDateString()</td>
                                <td>@reservation.RCheckIn</td>
                                <td>@reservation.RCheckOut</td>
                                <td>@reservation.Remarks</td>
                                <td>@reservation.CleaningTime</td>
                                <td>@reservation.Status</td>
                                <td>@Html.ActionLink("Edit", "Edit", "Home", new { guestId = reservation.GuestId, propertyid = reservation.PropertyId, checkin = reservation.CheckIn }, null) </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>