@model IEnumerable<CoreAirPlus.ViewModel.ReservationViewModel>

@{
    ViewData["Title"] = "Reservation";
}

<h2>Index</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <table border="1">
        <thead>
            <tr>
                <td>GuestName</td>
                <td>CheckIn</td>
                <td>CheckOut</td>
                <td>Requested Check In</td>
                <td>Requested Check Out</td>
                <td>Remarks</td>
                <td>Cleaning Time</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.GuestName</td>
                    <td>@reservation.CheckIn.ToShortDateString()</td>
                    <td>@reservation.CheckOut.ToShortDateString()</td>
                    <td>@reservation.RCheckIn</td>
                    <td>@reservation.RCheckOut</td>
                    <td>@reservation.Remarks</td>
                    <td>@reservation.CleaningTime</td>
                    <td>@reservation.Status</td>
                    <td>@Html.ActionLink("Edit","Edit", "Home", new {guestId=reservation.GuestId,propertyid=reservation.PropertyId,checkin=reservation.CheckIn },null) |</td>
                </tr>
            }
        </tbody>
    </table>
</div>

